* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
}

body {
    min-height: 100vh;
    background: linear-gradient(0deg,
            rgb(22, 5, 128) 0%,
            rgb(56, 61, 105) 100%);
}

.clearfix {
    clear: both;
}

.container-form {
    background: #120b3d6e;
    margin-top: 7px;
    margin-bottom: 7px;
}

.title h1 {
    text-align: center;
}

.div-title {
    width: 100%;
}

.div-description {
    display: inline;
    width: 100%;
}
.no-description{
    display: none;
}

.operation {
    float: right;
    width: 17%;
    height: 30%;
    text-align: center;
    background: #1707756e;
    border: solid 1px;
    border-radius: 0.4em;
    border-color: #149fff;
    color: yellow;
    font-size: 0.9em;
    margin-top: 4px;
    margin-left: 5px;    
    padding: 5px;
}

input {
    float: left;
    background: #232a46;;    
    color: rgb(220, 233, 38);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 0.5rem;
    border-color: #4b8046;
    margin: 5px 0px 5px 4px;
    padding-left: 5px;
}

.list-container {
    float: left;
    background-color: #0a0c80;
    width: 100%;
    margin: 0.2rem;
    border-radius: 0.3rem;
    padding: 0.20rem;
}

.list-complete {
    float: left;
    background-color: #22045e;
    width: 100%;
    margin: 0.2rem;
    border-radius: 0.3rem;
    padding: 0.20rem;
    opacity: 70%;
}


.list-container h2 {
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(213, 215, 216);
    padding-left: 15px;
}

.list-container p {
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(148, 192, 28);
    padding-left: 15px;
}

.list-complete p {
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-decoration: line-through;
    color: rgb(148, 192, 28);
    padding-left: 15px;

}

.list-complete h2 {
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: line-through;
    color: rgb(213, 215, 216);
    padding-left: 15px;
}

.button-task {
    float: right;
    background-color: #3a0f91;
    border-radius: 0.5rem;
    border-color: #c49106;
    font-size: 0.8rem;
    color: greenyellow;
    text-align: center;
    width: 25px;
    margin-right: 0.2rem;

}

.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 400px;
    background: #161a2b;
    text-align: center;
    margin: 50px auto;
    border-radius: 25px;
    padding: 0 50px;
    padding-bottom: 32px;
}

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-Open {
    display: flex;
}

.modal-container {
    position: relative;
    padding: 1rem;
    min-width: 320px;
    max-width: 480px;
    min-height: 200px;
    max-height: 800px;
    overflow-y: auto;
    background-color: #3a633a;
    border-radius: 0.7rem;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.div-title-u input {
    height: 35px;
}

.div-description-u input {
    height: 35px;
}

.h1-title {
    height: 30px;
    margin: 0;
    text-align: center;
}

.update {
    position: relative;
    width: 80px;
    border-radius: 0.3rem;
    border-color: rgb(208, 218, 185);
    background: #3a633a;
    color: whitesmoke;
}